<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="dog" class="com.fzy.entity.Dog"/>
        <bean id="cat" class="com.fzy.entity.Cat"/>
<!--        使用名字进行自动装配-->
<!--        <bean id="ren" class="com.fzy.entity.Ren" autowire="byName">-->
<!--            <property name="name" value="付志远"/>-->
<!--        </bean>-->
<!--        使用类进行装配，必须唯一重复就报错-->
        <bean id="ren" class="com.fzy.entity.Ren" autowire="byType">
            <property name="name" value="付志远"/>
        </bean>
</beans>